.switcher {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    span {
        color: var(--switcher-color);
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }

    &:hover {
        span {
            color: var(--switcher-color-hover)
        }

        svg {
            fill: var(--switcher-color-hover)
        }
    }
    

}

.icon {
    fill: var(--switcher-color)
}